@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: coolfontes;
    src: url(../TerminaTest/TerminaTest-Demi.otf);
}

body{
    font-family: 'Work sans';
    background-color: #09040f;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -10px;
}
.selected-item{
    border-bottom: 2px solid #ff9659;
    text-shadow: 0 1px 6px rgba(237,198,255,.5);
}
#bars{
    position: absolute;
    right: 0;
}
.navbar-toggler{
    text-decoration: none;
    position: absolute;
    right: 0;
}
.nav-links{
    padding: 4px 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.nav-links:hover{
    color: #ff9659;
}
span img{
    height: 25px;
    width: 25px;
}
h1{
    font-size: 64px;
    font-weight: 700;
}
p{
    font-size: 20px;
}
.courses{
    grid-auto-columns: 1fr; 
    grid-row-gap: 16px; 
    grid-column-gap: 16px; 
    grid-template-columns: 1fr 1fr 1fr;
}
#introduction-container{
    max-width: 600px;
}
.inscription{
    height: 51px;
    min-width: 200px;
    border-radius: 4px;
    background-color: #d93600;
    margin-right: 24px;
    margin-left: 10px;
    padding: 10px 10px;
    border: none;
    text-align: center;
    text-decoration: black;
    margin-top: 14px;
}
#btn-div p{
    margin-top: 14px;
}
.inscription:hover{
    margin-left: 10px;
    background-color: #ee0c0c;
    box-shadow: 0 5px 10px 0 rgba(105,85,255,.2);
    transform: translate(0px, -2px);
    transition: all 0.4s;
}
#iframe_video{
    margin-top: 50px;
}
.description{
    font-size:16px;
    font: 200;
    min-width: 160px;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.card{
    padding: 32px;
    border: 1px solid #28263a;
    border-radius: 8px;
    background-color: #181628;
    color: white;
}
.logomarks{
    background-color: #2b2b2b;
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.logomarks img{
    width: 38px;
    height: 38px;
}
.contact{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
.contact:hover{
    color: white;
}
#social-icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    text-decoration: none;
    margin-top: 14px;
}
#social-icon:hover{
    color: white;
}
@media (max-width: 992px) {
    navbar-nav{
        position: absolute;
    }
    #bars{
        position: absolute;
        right: 0;
        width: 100%;
        margin-top: 500px;
    }
    #bars ul{
        gap:0px;
        right: 0px;
        width: 100%;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
        background: #403e3e;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #bars li{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #bars a{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .courses{
        grid-auto-columns: 1fr; 
        grid-row-gap: 16px; 
        grid-column-gap: 16px; 
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 695px){
    .courses{
        grid-auto-columns: 1fr; 
        grid-row-gap: 16px; 
        grid-column-gap: 16px; 
        grid-template-columns: 1fr;
    }
    navbar-nav{
        position: absolute;
    }
    #bars{
        position: absolute;
        right: 0;
        width: 100%;
        margin-top: 500px;
    }
    #bars ul{
        gap:0px;
        right: 0px;
        width: 100%;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
        background: #403e3e;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #bars li{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #bars a{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .courses{
        grid-auto-columns: 1fr; 
        grid-row-gap: 16px; 
        grid-column-gap: 16px; 
        grid-template-columns: 1fr;
    }
}